@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 40px;
  background-color: #151515;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.card{
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  border-radius: 10px;
  min-height: 100px;
}
button{
  border: none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
}