*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#number{
    font-size: 5rem;
}
.button-container{
    padding: 1rem;
}
.btns{
    background-color: hsl(214, 100%, 75%);
    padding: 0.7rem;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.btns:hover{
    background-color: hsl(214, 94%, 53%);
}
