*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.container{
    max-width: 786px;
    margin: 0 auto;

}

/* this acts as the bg gradient layer */
.layout{ 
    height: 100vh;
    background-image: linear-gradient(to bottom, white, #dbe8fe, white);
}

.navbar-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
}

.logo{
    font-size: 24px;
    font-weight: 600;
}

.links{
    display: flex;
    gap: 10px;
}
.link-items{
    font-size: 17px;
    text-decoration: none;
    color: #0e0e0ef1;
}
.link-items:hover{
    font-size: 17px;
    text-decoration: none;
    color: #525252;
    transition: color 0.2s ease-out;
}

.btn{
    all: unset;
    padding: 8px 12px;
    color: white;
    border-radius: 8px;
    background-color: #4884e6;
    text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.btn:hover{
    background-color: #1a65dd;
    transition: background-color 0.2s ease-out; 
}

.badge{
    font-size: 14px;
    background-color: #f5f5f5;
    max-width: 500px;
    border-radius: 20px;
    padding: 8px 10px;
    width: fit-content;
    margin: 0 auto;
    border: 0.5px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge:hover{
    background-color: #e5e5e5;
    transition: background-color 0.2s ease-out;
}

.hero-root{
    padding: 50px 0px;
}

.hero-title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    width: 400px;
    margin: 20px auto;
}
.hero-subtitle{
    width: fit-content;
    font-size: 12px;
    color: #737373;
    margin: 20px auto;
    text-align: center;
}
.hero-cta{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.btn-secondary{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin-left: 4px;
    color: black;
    background: transparent;
}
.btn-secondary svg{
    margin-left: 2px;
}
.btn-secondary:hover{
    padding: 8px 12px;
    color: white;
    border-radius: 8px;
    background-color: #7373733c;
    text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.left-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  width: 0.5px;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
}

.right-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  width: 0.5px;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
}

.hero-image-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.hero-img{
    width: 780px;
    height: 400px;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    object-fit: cover;
    object-position: top-left;
}
.layout-lines-container{
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    
}

.horizontal-line {
  height: 0.5px;
  width: 100%;
  position: absolute;
  width: 0.5px;
  background: #d4d4d4;
  position: absolute;
  top: -10px;
}