*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading-color: #e86a33 /*Orange*/
}
body{ 
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
/* Screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}

/* following is done for testing purpose */
/* the actual active screen will be set using JS (classList add/remove kri javange) */
 
/* #quiz-screen{
    display: none;
}
#result-screen{
    display: none;
}  */


/* startScreen */
#start-screen h1{
    color: var(--heading-color);
    margin-bottom: 20px;
    font-size: 2.5rem;
}
#start-screen p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
#start-screen button{
    background-color: var(--heading-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
#start-screen button:hover{
    background-color: #d45b28;
    transition: background-color 0.2s ease-out;
    border-color: var(--heading-color);
}
.quiz-header{
    margin-bottom: 2rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}
.answers-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 25px;
}
.answer-btn{
    /* background-color: #ffa81a; */
    background-color: #eadbc8;
    border-radius: 10px;
    color: #333;
    border: 2px solid #dac0ae;
    padding: 1rem;
    cursor: pointer;
    text-align: start;
}
.answer-btn:hover{
    background-color: #ffa81a;
    border-color: #dac0ae;
    transition: all 0.4s ease-out;
}
.answer-btn.correct{
    background-color: #e6fff0;
    border-radius: #a3f0c4;
    color: #28a745;
}
.answer-btn.incorrect{
    background-color: #fff0f0;
    border-radius: #ffbdbd;
    color: #dc3545;
}
.progress-bar{
    background-color: #f8f0e5;
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 1.5rem;
}
.progress{
    height: 100%;
    width: 0%;
    background-color: #e86933;
    transform: width 0.5s ease-out;
}
/* Result Screen */
#result-screen h1{
    color: var(--heading-color);
    margin-bottom: 30px;
}
.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.5rem;
}
.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}
#result-message{
    font-size: 1.5rem;
    color: var(--heading-color);
    font-weight: 700;
}
#restart-btn{
    background-color: var(--heading-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
#restart-btn:hover{
    background-color: #d45b28;
    transition: background-color 0.2s ease-out;
    border-color: var(--heading-color);
}
/* Media Queries */
@media (max-width:500px){
    .screen{
        padding:1rem;
    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.35rem;
    }
    .answer-btn{
        padding:10px;
    }
    #start-btn,
    #restart-btn{
        padding: 12px 20px;
        font-size: 0.9rem;
    }
}