@import "tailwindcss";

@font-face {
  font-family: "Netflix Sans";
  src: url('assets/fonts/netflix-sans.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Netflix Sans";
  src: url('assets/fonts/netflix-sans.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Netflix Sans";
  src: url('assets/fonts/netflix-sans.woff2') format('woff2');
  font-weight: 700;
}
body{
    background-color: black;
    font-family: 'Netflix Sans', sans-serif;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
